---
layout: default
---

<!-- gitalk -->
<!--
<div class="comment">
  <div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
var gitalk = new Gitalk({
  id: '2020-04-09 00:00:00 +0000',
  clientID: 'Ov23li4fWFJ8qvsxhWRP',
  clientSecret: '230048ff66075e4e9b313eb1304b9cb6b948653f',
  repo: 'gzzmodel.github.io',
  owner: 'gzzmodel',
  admin: ['gzzmodel'], 
labels: ['Gitalk'],
})
gitalk.render('gitalk-container')
</script> 
</div>
-->
<head>
  ..
  <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
  ...
</head>
<body>
  ...
  <div id="vcomments"></div>
  <script>
      new Valine({
          el: '#vcomments',
          appId: '0MKXcsJiA542uyZMOdPwnATT-gzGzoHsz',
          appKey: 'dp0nKKSahxMVKIoH6rNPZiPT',
          lang:'en'
      })
  </script>
</body>

 {% pdf "/publications/2007_criterion.pdf" %}

{% pdf "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf" %}
