---
layout: default
refactor: true
panel_includes:
- toc
tail_includes:
- related-posts
- post-nav
- comments
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">{{ page.title }}</h3>
    {{ content }}
  </div>
</div>

</div><!-- .post-tail-bottom -->

<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<style lang="scss">
  .gt-header-textarea {
    color:#000 !important;
  }
</style>
<script src="/js/gitalk.min.js"></script>
<script src="/js/md5.min.js"></script>
<script type="text/javascript">
  var gitalk = new Gitalk({
    clientID: 'Ov23li4fWFJ8qvsxhWRP',
    clientSecret: '230048ff66075e4e9b313eb1304b9cb6b948653f',
    repo: 'gzzmodel.github.io',
    owner: 'gzzmodel',
    admin: ['gzzmodel'],
    id: md5(location.href.match('/(?<=posts/)(.*)(?=/)/')[1]),
    language: 'en',
    perPage: 10,
  });
  gitalk.render('gitalk-container');
</script>